circle.kodaira-infty {
  fill: red;
}

circle.kodaira-0 {
  fill: green;
}

circle.kodaira-1 {
  fill: blue;
}

circle.kodaira-2 {
  //display: none;
}

circle {
  cursor: pointer;
}

circle.active {
  stroke: black;
  stroke-width: 2;
}

circle.inactive {
  fill-opacity: .1;
  cursor: default;
}
