circle.kodaira-infty {
  fill: red;
}

circle.kodaira-0 {
  fill: green;
}

circle.kodaira-1 {
  fill: blue;
}

circle.kodaira-2 {
  //display: none;
}

circle {
  cursor: pointer;
}

circle.inactive {
  fill-opacity: .1;
  cursor: default;
}

circle:not(.inactive):hover {
  stroke: gray;
  stroke-width: 1;
}

circle.active,
circle.active:hover {
  stroke: black;
  stroke-width: 2;
}

.axis {
  fill: none;
  stroke-width: 1px;
  stroke: #aaa;
}

.axis text {
  stroke-width: 0;
  stroke: black;
  fill: black;
}

text.inactive {
  fill-opacity: .1;
}
