/*
.main {
	margin: 1em;
}
#input, #output {
	padding: 1em;
}
#input {
	width: 75%;
	float: left;
}
#output {
	15%;
	float: right;
}
#theory {
	width: 100%;
	clear: both;
	padding-left: 3em;
}
*/
#hodgediamond {
	margin-left: auto;
	margin-right: auto;
}
#hodgediamond td {
	text-align: center;
	width: 1.2em;
	height: 1.2em;
	padding: 0em;
	margin: 0em;
}
.ui-slider {
	text-align: center;
}
#input .ui-slider-handle {
	width: 0.3em;
	margin-left: -0.15em;
	background: #a77;
	border-color: #777;
}
.ui-slider-label-ticks {
	height: 0px;
	width: 0px;
	position: relative;
	font-size: 60%;
	color: #777;
}
.slider-labels {
	position: relative;
	top: -2px;
	left: -1px;
}
